<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         bootstrap="tests/bootstrap.php"
         verbose="true"
         colors="true">
  <testsuites>
    <testsuite name="default">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <filter>
     <whitelist addUncoveredFilesFromWhitelist="true">
       <file>./tripal_jbrowse_mgmt/tripal_jbrowse_mgmt.module</file>
       <directory suffix=".inc">./tripal_jbrowse_mgmt</directory>
       <directory suffix=".php">./tripal_jbrowse_mgmt</directory>
     </whitelist>
   </filter>
</phpunit>
