{#
/**
 * @file
 * Default theme implementation to present a jbrowse instance entity.
 *
 * This template is used when viewing a canonical jbrowse instance page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_jbrowse_instance()
 */
#}
<article{{ attributes }}>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}
  {% if content %}
    {{- content -}}
    <div id="jbrowse_linear_genome_view" width="100%" height="100%">this is where the browser should be</div>
  {% endif %}
</article>
